.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.section_homebg {
  padding: 3rem 1.5rem;
  min-height: 100vh;
  background-image: url(../../assets/sdny.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
}

.section_aboutmebg {
  padding: 3rem 1.5rem;
  min-height: 100vh;
}

.section_experiencebg {
  padding: 3rem 1.5rem;
  min-height: 100vh;
  background-color: #343a40;
}

.section_skillbg {
  padding: 3rem 1.5rem;
  min-height: 100vh;
}

.sectionbg_projectbg {
  padding: 3rem 1.5rem;
  min-height: 100vh;
  background-color: rgba(211, 211, 211, 0.712);
}

h1 {
  text-align: center;
  padding: 0 0 20px 0;
}
