#home {
  height: 100%;
  width: 100%;
}

.hcontainer {
  padding: 50px 0 0 0;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  color: black;
}

.h2 {
  animation-iteration-count: infinite;
}

.hcontainer .buttons {
  padding: 6rem 1.5rem;
  display: inline-flex;
  justify-content: center;
}
